.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;	
	border-bottom: 12px solid #999;
	display: inline-block;
	margin-right: 10px;
}

.upvote {
	color: black;
	font-size: 14px;
	font-family: 'Helvetica', sans-serif;
	font-weight: normal;
	display: inline-block;
}

.pname {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Helvetica', sans-serif;
	margin-top: -34px;
	margin-left: 10px;
	display: inline-block;
}

.tagline {
	margin-left: 3px;
	font-size: 17px;
	color: #999999;
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
	margin-top: -34px;
	display: inline-block;
}

.comments {
	margin-left: 6px;
	font-size: 13px;
	color: #da552f;
	font-family: 'Helvetica', sans-serif;
	display: inline-block;
}

.pname a {
	text-decoration: none;
	color: black;
	border-bottom: 1px solid #ccc;
}

.comments a {
	text-decoration: none;
	color: #da552f;
}
